# ignore everything by default
*

# things to include
!.git
# !.git/refs/heads
# !.git/config
# !.git/HEAD
!docker
!synapse
!rust
!README.rst
!pyproject.toml
!poetry.lock
!Cargo.lock
!Cargo.toml
!build_rust.py

rust/target
synapse/*.so

**/__pycache__
