<table class="room">
    <tr class="room_header">
        <td class="room_avatar">
        </td>
        <td class="room_name" colspan="2">
            {{ room.title }}
        </td>
    </tr>
    {%- if room.invite %}
        <tr>
            <td></td>
            <td>
                <a href="{{ room.link }}">Join the conversation.</a>
            </td>
            <td></td>
        </tr>
    {%- else %}
        {%- for notif in room.notifs %}
            {%- include 'notif.html' with context %}
        {%- endfor %}
    {%- endif %}
</table>
