{% if use_forking_launcher %}
[program:synapse_fork]
command=/usr/local/bin/prefix-log /root/synapse/env/bin/python -m synapse.app.complement_fork_starter
  {{ main_config_path }}
  synapse.app.homeserver
  --config-path="{{ main_config_path }}"
  --config-path=/root/synapse/config/workers/shared.yaml
  {%- for worker in workers %}
    -- {{ worker.app }}
    --config-path="{{ main_config_path }}"
    --config-path=/root/synapse/config/workers/shared.yaml
    --config-path=/root/synapse/config/workers/{{ worker.name }}.yaml
  {%- endfor %}
autorestart=unexpected
exitcodes=0

{% else %}
[program:synapse_main]
command=/usr/local/bin/prefix-log /root/synapse/env/bin/python -m synapse.app.homeserver
  --config-path="{{ main_config_path }}"
  --config-path=/root/synapse/config/workers/shared.yaml
priority=10
autorestart=unexpected
exitcodes=0


  {% for worker in workers %}
[program:synapse_{{ worker.name }}]
command=/usr/local/bin/prefix-log /root/synapse/env/bin/python -m {{ worker.app }}
  --config-path="{{ main_config_path }}"
  --config-path=/root/synapse/config/workers/shared.yaml
  --config-path=/root/synapse/config/workers/{{ worker.name }}.yaml
autorestart=unexpected
priority=500
exitcodes=0

  {% endfor %}
{% endif %}
