on:
  push:
    branches: ["develop", "release-*"]
    paths:
      - poetry.lock
  pull_request:
    paths:
      - poetry.lock

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-sdists:
    name: "Check locked dependencies have sdists"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.x'
      - run: pip install tomli
      - run: ./scripts-dev/check_locked_deps_have_sdists.py
